apiVersion: autoscaling/v2alpha1
kind: HorizontalPodAutoscaler
metadata:
  name: fortune-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1beta1
    kind: DeploymentConfig
    name: fortune
  minReplicas: {{ J2_FORTUNE_REPLICAS_MIN }}
  maxReplicas: {{ J2_FORTUNE_REPLICAS_MAX }}
  metrics:
  - type: Resource
    resource:
      name: cpu
      targetAverageUtilization: 3
